@import url('//fonts.googleapis.com/css?family=Raleway&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    text-align: center
}

.voltas {
    font-size: 45px;
    font-weight: bold
}

.voltas span {
    font-size: 200px;
}

.tempo {
    font-size: 18px;
}

.tempo span {
    font-size: 45px;
    font-weight: bold
}

Button {
    background: #FFFFFF;
    border: 4px solid #000000;
    box-sizing: border-box;
    width: 141px;
    height: 80px;
    padding: 18px;
    margin-right: 11px;
    font-size: 18px;
}

.bigger {
    font-size: 144px;
    font-weight: bold;
    line-height: 20px;
}